.ringo {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F3F3F3;
    &__wrapper {
        display: flex;
        gap: 127px;
        margin: auto;
    }

    &__card-img {
        margin: auto;
        
        display: flex;
       flex-direction: column;


    }

}